/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* ========== Common style ========== */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1480px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}

span {
  color: #f00;
}

button {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 36px;
  border-radius: 8px;
  background: #f00;
  font-weight: 500;
  transition: all 0.3s;
  text-transform: uppercase;
}

button:hover {
  background: #ff2298;
}

/* ========== Banner section style start ========== */
.banner {
  height: 600px;
  margin-top: 50px;
  text-align: center;
  /* max-width: 1320px; */
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
}

#header .banner .banner-content {
  top: 50%;
  left: 50%;
  max-width: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.banner-content h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  font-family: Merriweather;
}

.banner-content h2 {
  color: #fff;
  font-size: 68px;
  font-weight: 600;
  line-height: 95px;
  text-align: center;
  font-family: Merriweather;
}

/* ========== Banner section style start ========== */
.off-content {
  text-align: center;
  margin-top: 120px;
}

.off-content h2 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.off-content p {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.off-content h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 48px;
}

/* ========== Party section style start ========== */
.party-main {
  display: flex;
  padding: 60px 0;
  max-width: 1320px;
  margin-top: 120px;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 120px;
  background-repeat: no-repeat;
  justify-content: space-around;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/resources/Vectorrr.png");
}

.party-main .party-text {
  max-width: 650px;
}

.party-main .party-text h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  margin-bottom: 24px;
  letter-spacing: 7.04px;
  font-family: Merriweather;
}

.party-main .party-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Inter;
  margin-bottom: 48px;
  color: rgba(255, 255, 255, 0.8);
}

/* ========== Hotel park time section style start ========== */
.hotel-park-time-main {
  text-align: center;
  padding: 100px 0;
  margin-bottom: 120px;
  border-radius: 14px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.hotel-park-time-main .hotel-park-time h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.hotel-park-time-main .btn-jnw {
  margin-top: 46px;
}

.hotel-park-time-main .hotel-park-time span {
  color: #f00;
}

.offer-content-main {
  display: flex;
}

/* ========== Coming Soon section style start ========== */
.offer-content-main {
  display: flex;
  margin: 10px auto;
  margin-bottom: 120px;
  align-items: center;
  justify-content: space-between;
}

.offer-content-main .offer-column {
  max-width: 390px;
}

.offer-content-main .offer-column h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 20px 0;
}

.offer-content-main .offer-column .el-img {
  width: 300px;
  border-radius: 463px;
  padding: 25px;
  border: 15px solid #f00;
}

.offer-content-main .offer-column p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 32px;
}

/* ========== Holidays Sale section style start ========== */
.holidays-container {
  text-align: center;
  margin: 120px auto;
  max-width: 1068px;
}

.holidays-container h3 {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.holidays-container h2 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
  font-family: Merriweather;
}

.holidays-container p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: rgba(7, 2, 17, 0.6);
}

/* ========== Portfolio section style start ========== */
.portfolio-main {
  margin-bottom: 120px;
  /* max-width: 800px; */
}
.portfolio-main .portfolio-text h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.portfolio-main .portfolio-text h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
  font-family: Merriweather;
}

.portfolio-main .portfolio-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 800px;
  margin-bottom: 48px;
  color: rgba(7, 2, 17, 0.6);
}

.portfolio-main .portfolio-img-column {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-main .portfolio-img-column .p-img img {
  max-width: 416px;
  border-radius: 16px;
}

/* ========== News-letter section style start ========== */
.news-letter-main {
}

.news-letter-main .news-letter {
}
